* {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
        .bigdiv {
            
            
            background-color: orangered;
            text-align: center;
            width: 500px;
            padding: 10px;
            border-radius: 10px;
            
        }
        .superbigdiv {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
        }
        
        img {
            width: 100%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;

        }
        .div1 , .div2 , .div3 {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            
        }
        input {
            padding: 10px;
            background-color: black;
            color: white;
            border: none;
            border-radius: 11px;
            width: 100%;
        }
        .button1 , .button2 {
            margin-bottom: 10px;
            margin-top: 15px;
            
        }
        .superdiv {
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        hr {
            display: none;
        }
        .divtext {
            margin-top: 15px;
        }
        .b1 {
            display: none;
        }
        body {
            background-color: rgb(197, 202, 207);
        }
        .p1 {
            text-align: justify;
        }
        @media screen and (max-width: 480px)  {
          .superbigdiv {
            width: 90%;
            margin: 20px;
          }
            .divtitle {
                text-align: start;
                
            }
            img {
                width: 100px;
                border-radius: 8px;
            }
            .divtop {
                display: flex;
                text-align: center;
            }
            .divtext {
               display: flex;
               justify-content: space-between;
            }
            hr {
                display: block;
                border-color: black;
                border-width: 1px;
            }
            .div1 , .div2 , .div3 {
                flex-direction: column;
                width: 25%;
            }
            .divbutton {
                display: flex;
                gap: 10px;
            }
            .b1 {
                display: block;
            }
           .b2 {
            display: none;
           }
           span {
            color: gold;
           }
           .button2 {
            background-color: white;
            color: black;
           }
           img {
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
           }
           .divtop {
            gap: 10px;
           }
           input:hover {
            background-color: black;
            color: white;
           }
           .divbutton:hover > input:not(:hover) {
            background-color: white;
            color: black;
           }
           
           .bigdiv {
            width: 90%;
           }
        }